body {
    font-family: 'Balsamiq Sans', cursive;
}

img {
    width: 100%;
    height: auto;
}

.filtered {
    filter: grayscale(100%)
    contrast(200%);
}

.btn {
    margin: 15px auto;
}

/*--Navbar--*/ 
.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--navbar--*/ 

/*--Cards--*/ 
.card {
    float: left;
    width: 40%;
    margin-left:10%
}
/*--cards--*/ 

/*--About--*/
.about {
    margin-top: 10px;
}
/*--about--*/

/* Contact Form */
.contact-heading {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-control {
    margin-top: 10px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 40%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
}

#container {
    background: white;
    width: 400px; 
    margin: 0px auto; 
    border: 1px solid gainsboro;
}

#padding {
    border: none; 
    margin: 0 0 0 0; 
    padding: 20px 20px 20px 20px;
}
/* contact Form */

/*--Footer--*/ 
    .fixed-bottom {
    margin-bottom: 20px;
}
/*--footer--*/ 

